* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #221E1F;
}

@font-face {
  font-family: "barlow";
  src: url("../fonts/barlow-regular.eot");
  src: url("../fonts/barlow-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-regular.ttf") format("truetype"), url("../fonts/barlow-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "barlowitalic";
  src: url("../fonts/barlow-regularitalic.eot");
  src: url("../fonts/barlow-regularitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-regularitalic.ttf") format("truetype"), url("../fonts/barlow-regularitalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "barlowbold";
  src: url("../fonts/barlow-bold.eot");
  src: url("../fonts/barlow-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-bold.ttf") format("truetype"), url("../fonts/barlow-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "barlowbolditalic";
  src: url("../fonts/barlow-bolditalic.eot");
  src: url("../fonts/barlow-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-bolditalic.ttf") format("truetype"), url("../fonts/barlow-bolditalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "barlowlight";
  src: url("../fonts/barlow-extralight.eot");
  src: url("../fonts/barlow-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-extralight.ttf") format("truetype"), url("../fonts/barlow-extralight.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "barlowlightitalic";
  src: url("../fonts/barlow-extralightitalic.eot");
  src: url("../fonts/barlow-extralightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/barlow-extralightitalic.ttf") format("truetype"), url("../fonts/barlow-extralightitalic.woff2") format("woff2");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "oswald";
  src: url("../fonts/oswald.eot");
  src: url("../fonts/oswald.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald.ttf") format("truetype"), url("../fonts/oswald.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

h1, h2 {
  font-family: "Ubuntu", sans-serif;
  color: #BB5507;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 24px;
  line-height: 115%;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  color: #463E40;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 16px;
}

a {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #FFD600;
}

ul {
  list-style: none;
}

strong, em {
  font-weight: 700;
  font-style: normal;
}

p {
  padding-bottom: 40px;
}

.color2 {
  color: #463E40;
}

.color3 {
  color: #814A24;
}

.color4 {
  color: #BB5507;
}

.color5 {
  color: #DD9604;
}

.color6 {
  color: #FFD600;
}

.color7 {
  color: #BEBE25;
}

.color8 {
  color: #7DA549;
}

button {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFD600;
  text-align: center;
  height: 80px;
  width: 200px;
  margin: auto;
  border-radius: 50px;
  border: 3px solid #FFD600;
  transform: scale(1);
  transition: all 200ms;
  font-family: "Poppins", sans-serif;
}
button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 214, 0, 0.5);
  color: #fff;
  cursor: pointer;
}

header {
  background-color: rgba(34, 30, 31, 0.85);
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 5%;
}
header a {
  width: 200px;
  padding: 10px 0;
  color: inherit;
  text-decoration: none;
}
header a img {
  width: 100%;
}
header nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  max-width: 1240px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  font-size: 14px;
  padding: 0 16px;
  transition: all 200ms;
}
header nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #FFD600;
}
header nav a {
  position: relative;
  top: 27px;
  padding: 32px 0;
}

.form {
  width: 100%;
}
.form__heading {
  width: 100%;
  color: white;
  background: #221E1F;
  line-height: 5rem;
}
.form__field label {
  color: #814A24;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
}
.form__field input {
  width: 100%;
  background: #463E40;
  color: #814A24;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
  background-color: #463E40;
  color: #221E1F;
}
.form__field textarea {
  width: 100%;
  color: #221E1F;
  background: #463E40;
  outline: none;
}

footer {
  background-color: #3d3638;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  padding: 20px 5%;
  color: rgba(255, 255, 255, 0.7);
}
footer div {
  flex: 1;
  max-width: 600px;
  padding: 0 30px;
}
footer h3 {
  width: 100%;
  color: rgba(255, 255, 255, 0.4);
  font-size: 18px;
}
footer p {
  font-size: 12px;
  padding-bottom: 0;
  line-height: normal;
}
footer img {
  height: 60px;
  margin: 0 10px 10px 0;
}
footer a {
  text-decoration: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.banniere {
  background: linear-gradient(rgba(34, 30, 31, 0.7), rgba(34, 30, 31, 0.7)), url("../images/chantier1.jpeg");
  height: 550px;
  background-size: cover;
  background-attachment: fixed;
  line-height: 45px;
  text-align: center;
  padding: 130px 5% 60px 5%;
  margin-bottom: 40px;
}
.banniere h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
.banniere p {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.banniere p:last-of-type {
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  padding: 0 0 60px 0;
}

.presentation, .details {
  padding: 20px 0 0 0;
  width: 90%;
  margin: auto;
  max-width: 900px;
}
.presentation > h2, .presentation > p, .details > h2, .details > p {
  width: 100%;
  margin: auto;
}

.cards {
  display: flex;
  width: 100%;
  height: 300px;
  position: relative;
  margin: 20px auto;
}
.cards div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  flex-grow: 1;
  overflow: hidden;
  transition: all 800ms;
  position: relative;
}
.cards div:nth-of-type(1):hover {
  width: 35%;
}
.cards div:nth-of-type(2):hover {
  width: 35%;
}
.cards div:nth-of-type(3):hover {
  width: 35%;
}
.cards div:nth-of-type(4):hover {
  width: 35%;
}
.cards div:hover img:last-of-type {
  top: 30px;
}
.cards div:hover p:last-of-type {
  color: transparent;
}
.cards div:hover p:first-of-type {
  padding: 130px 10% 20px 10%;
}
.cards div:not(:hover) p:first-of-type {
  color: transparent;
}
.cards div img:first-of-type {
  object-fit: cover;
  min-height: 200%;
}
.cards div img:last-of-type {
  position: absolute;
  width: 70px;
  top: 80px;
  transition: all 800ms;
}
.cards div p:first-of-type {
  position: absolute;
  left: 0;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 450px 10% 20px 10%;
  background: linear-gradient(to bottom, rgba(34, 30, 31, 0.2), rgba(34, 30, 31, 0.6), rgba(34, 30, 31, 0.95));
  transition: padding 800ms 300ms;
}
.cards div p:last-of-type {
  position: absolute;
  text-align: center;
  top: 180px;
  width: 150px;
  transition: all 800ms;
}

.details h1 {
  font-size: 24px;
}
.details button {
  height: 60px;
  width: 150px;
}

.loi_elan section {
  position: relative;
  top: 84px;
  width: 100%;
  padding: 40px 5% 40px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.loi_elan div {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.loi_elan ul {
  list-style: inside;
  padding-left: 24px;
  flex: 1;
}
.loi_elan ul ul {
  list-style: circle inside;
  padding-left: 24px;
}
.loi_elan button {
  position: fixed;
  top: 100px;
  right: 3%;
  z-index: 1;
  background-color: rgba(34, 30, 31, 0.7);
  font-size: 12px;
  width: 95px;
  height: 95px;
}
.loi_elan button:hover {
  background-color: rgba(255, 214, 0, 0.5);
}
.loi_elan .explanation div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.loi_elan .explanation img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}
.loi_elan .explanation h1, .loi_elan .explanation h2 {
  align-self: flex-end;
  flex: 1;
  padding: 0 0 0 24px;
}
.loi_elan .explanation p {
  width: 100%;
  padding: 30px 0 0 0;
}
.loi_elan .explanation .illustration {
  width: 100px;
  display: block;
  text-align: center;
  color: #DD9604;
  line-height: 1.1;
  margin: 0 20px;
}
.loi_elan .explanation .illustration img {
  display: block;
  margin: 20px auto;
}
.loi_elan .explanation .arrow {
  width: 40px;
  font-size: 70px;
  padding-top: 50px;
  color: #FFD600;
  margin: 0 20px;
}
.loi_elan .explanation .diagram {
  width: 100%;
}
.loi_elan .explanation .choice {
  text-align: center;
  padding: 8px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  width: 15%;
  height: 90px;
  background-color: #463E40;
}
.loi_elan .explanation .choice p {
  padding: 0;
}
.loi_elan .explanation .c1 {
  background-color: #221E1F;
  margin: 40px 46.25% 10px 3.75%;
  width: 50%;
  color: #BB5507;
  font-size: 20px;
  border: 3px solid #814A24;
}
.loi_elan .explanation .c2 {
  margin: 10px 0;
}
.loi_elan .explanation .c3 {
  margin: 10px 42.5% 10px 27.5%;
}
.loi_elan .explanation .c4 {
  margin: 10px 10.5% 10px -3px;
}
.loi_elan .explanation .c5 {
  margin: 10px 8.5% 10px 19%;
}
.loi_elan .explanation .c6 {
  margin: 10px -6px 10px 0;
}
.loi_elan .explanation .c7 {
  margin: 10px 0 10px 2%;
  justify-content: center;
}
.loi_elan .explanation .c7:first-of-type {
  margin: 10px 0;
}
.loi_elan .explanation .end {
  border: 3px solid #7DA549;
  background-color: #221E1F;
  font-size: 12px;
  color: #fff;
  transition: all 250ms;
}
.loi_elan .explanation .end:hover {
  color: black;
  background-color: #7DA549;
  cursor: pointer;
}
.loi_elan .explanation .br {
  border-style: dotted;
  height: 30px;
}
.loi_elan .explanation .br1 {
  border-radius: 0 0 20px 0;
  border-width: 0 3px 3px 0;
}
.loi_elan .explanation .br1__b01 {
  width: 18.25%;
  margin: 0 -1.5px 0 10.5%;
  border-color: transparent #814A24 #814A24 transparent;
}
.loi_elan .explanation .br1__b07 {
  width: 22.5%;
  margin: 0 -3px 0 10.5%;
  border-color: transparent #BB5507 #BB5507 transparent;
}
.loi_elan .explanation .br1__b17 {
  width: 5.5%;
  margin: 0 -1.5px 0 12.5%;
  border-color: transparent #DD9604 #DD9604 transparent;
}
.loi_elan .explanation .br2 {
  border-radius: 0 0 0 20px;
  border-width: 0 0 3px 3px;
}
.loi_elan .explanation .br2__b02 {
  width: 18.25%;
  margin: 0 53% 0 -1.5px;
  border-color: transparent transparent #814A24 #814A24;
}
.loi_elan .explanation .br2__b09 {
  width: 31%;
  margin: 0 19% 0 -3px;
  border-color: transparent transparent #BB5507 #BB5507;
}
.loi_elan .explanation .br2__b18 {
  width: 5.5%;
  margin: 0 10.5% 0 -1.5px;
  border-color: transparent transparent #DD9604 #DD9604;
}
.loi_elan .explanation .br3 {
  border-radius: 20px 0 0 0;
  border-width: 3px 0 0 3px;
  width: 3%;
}
.loi_elan .explanation .br3__b03 {
  margin: -3px -1.5px 0 7.5%;
  border-color: #814A24 transparent transparent #814A24;
}
.loi_elan .explanation .br3__b11 {
  margin: -3px 0 0 7.5%;
  border-color: #BB5507 transparent transparent #BB5507;
}
.loi_elan .explanation .br3__b19 {
  margin: -3px 0 0 9.5%;
  border-color: #DD9604 transparent transparent #DD9604;
}
.loi_elan .explanation .br4 {
  border-radius: 0 20px 0 0;
  border-width: 3px 3px 0 0;
  width: 3%;
}
.loi_elan .explanation .br4__b05 {
  margin: -3px 50% 0 -1.5px;
  border-color: #814A24 #814A24 transparent transparent;
}
.loi_elan .explanation .br4__b14 {
  margin: -3px 16% 0 0;
  border-color: #BB5507 #BB5507 transparent transparent;
}
.loi_elan .explanation .br4__b21 {
  margin: -3px 7.5% 0 0;
  border-color: #DD9604 #DD9604 transparent transparent;
}
.loi_elan .explanation .br5 {
  width: 0;
  border-width: 0 0 0 3px;
}
.loi_elan .explanation .br5__b06 {
  margin: 0 9.5% 0 7.5%;
  border-color: transparent transparent transparent #BB5507;
}
.loi_elan .explanation .br5__b08 {
  margin: 0;
  border-color: transparent transparent transparent #BB5507;
}
.loi_elan .explanation .br5__b10 {
  margin: 0 9.5% 0 7.5%;
  border-color: transparent transparent transparent #BB5507;
}
.loi_elan .explanation .br5__b15 {
  height: 110px;
  margin: 0 9.5% 0 7.5%;
  border-color: transparent transparent transparent #BB5507;
}
.loi_elan .explanation .br5__b16 {
  margin: 0 7.5% 0 7.5%;
  border-color: transparent transparent transparent #DD9604;
}
.loi_elan .explanation .br5__b22 {
  height: 110px;
  margin: 0 9.5% 0 7.5%;
  border-color: transparent transparent transparent #DD9604;
}
.loi_elan .explanation .br5__b23 {
  margin: 0 0 0 7.5%;
  border-color: transparent transparent transparent #DD9604;
}
.loi_elan .explanation .br5__b24 {
  margin: 0 -6px 0 17%;
  border-color: transparent transparent transparent #FFD600;
}
.loi_elan .explanation .br5__b25 {
  margin: 0 7.5% 0 17%;
  border-color: transparent transparent transparent #FFD600;
}
.loi_elan .explanation .br6 {
  margin: 0;
  border-color: transparent;
}
.loi_elan .explanation .br6__b04 {
  width: 36.5%;
}
.loi_elan .explanation .br6__b12 {
  width: 22.5%;
  margin-right: -3px;
}
.loi_elan .explanation .br6__b13 {
  width: 31%;
  margin-left: -3px;
}
.loi_elan .explanation .br6__b20 {
  width: 11%;
  margin: 0 -1.5px;
}
.loi_elan .explanation i {
  font-size: 14px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
}
.loi_elan .explanation .answer {
  width: 100%;
  max-width: 1200px;
  border-radius: 50px;
  margin: 20px 0;
  padding: 0 2% 30px 2%;
  border: 3px solid #FFD600;
}
.loi_elan .explanation .answer h2 {
  color: #FFD600;
  font-size: 24px;
  font-weight: 700;
  padding-top: 30px;
}
.loi_elan .explanation .answer p:nth-child(4) {
  font-size: 20px;
}
.loi_elan .explanation .answer p:nth-child(5) {
  font-size: 20px;
}
.loi_elan .explanation .answer p:nth-child(6) {
  font-size: 20px;
}
.loi_elan .explanation .answer p:nth-child(7) {
  font-size: 20px;
}
.loi_elan .explanation .answer p:nth-child(8) {
  font-size: 20px;
}
.loi_elan .explanation .answer p:nth-child(9) {
  font-size: 20px;
}
.loi_elan .explanation .answer .illustration {
  width: 17%;
  margin: 10px;
  color: #FFD600;
  scale: 1;
}
.loi_elan .explanation .answer i {
  padding: 20px 0 0 0;
  line-height: 1.5;
}
.loi_elan .explanation .answer *:not(.seen, .to_hide) {
  display: none;
}
.loi_elan .explanation input {
  display: none;
}
.loi_elan .explanation #cas1:checked + label {
  color: black;
  background-color: #7DA549;
}
.loi_elan .explanation #cas1:checked ~ .answer .cas1 {
  opacity: 100%;
  display: initial;
}
.loi_elan .explanation #cas1:checked ~ .answer li.cas1 {
  display: list-item;
}
.loi_elan .explanation #cas1:checked ~ .answer .to_hide {
  display: none;
}
.loi_elan .explanation #cas1:checked ~ .answer .illustration.cas1 img {
  display: block;
}
.loi_elan .explanation #cas2:checked + label {
  color: black;
  background-color: #7DA549;
}
.loi_elan .explanation #cas2:checked ~ .answer .cas2 {
  opacity: 100%;
  display: initial;
}
.loi_elan .explanation #cas2:checked ~ .answer li.cas2 {
  display: list-item;
}
.loi_elan .explanation #cas2:checked ~ .answer .to_hide {
  display: none;
}
.loi_elan .explanation #cas2:checked ~ .answer .illustration.cas2 img {
  display: block;
}
.loi_elan .explanation #cas3:checked + label {
  color: black;
  background-color: #7DA549;
}
.loi_elan .explanation #cas3:checked ~ .answer .cas3 {
  opacity: 100%;
  display: initial;
}
.loi_elan .explanation #cas3:checked ~ .answer li.cas3 {
  display: list-item;
}
.loi_elan .explanation #cas3:checked ~ .answer .to_hide {
  display: none;
}
.loi_elan .explanation #cas3:checked ~ .answer .illustration.cas3 img {
  display: block;
}
.loi_elan .explanation #cas4:checked + label {
  color: black;
  background-color: #7DA549;
}
.loi_elan .explanation #cas4:checked ~ .answer .cas4 {
  opacity: 100%;
  display: initial;
}
.loi_elan .explanation #cas4:checked ~ .answer li.cas4 {
  display: list-item;
}
.loi_elan .explanation #cas4:checked ~ .answer .to_hide {
  display: none;
}
.loi_elan .explanation #cas4:checked ~ .answer .illustration.cas4 img {
  display: block;
}
.loi_elan .explanation #cas5:checked + label {
  color: black;
  background-color: #7DA549;
}
.loi_elan .explanation #cas5:checked ~ .answer .cas5 {
  opacity: 100%;
  display: initial;
}
.loi_elan .explanation #cas5:checked ~ .answer li.cas5 {
  display: list-item;
}
.loi_elan .explanation #cas5:checked ~ .answer .to_hide {
  display: none;
}
.loi_elan .explanation #cas5:checked ~ .answer .illustration.cas5 img {
  display: block;
}
.loi_elan .explanation #cas6:checked + label {
  color: black;
  background-color: #7DA549;
}
.loi_elan .explanation #cas6:checked ~ .answer .cas6 {
  opacity: 100%;
  display: initial;
}
.loi_elan .explanation #cas6:checked ~ .answer li.cas6 {
  display: list-item;
}
.loi_elan .explanation #cas6:checked ~ .answer .to_hide {
  display: none;
}
.loi_elan .explanation #cas6:checked ~ .answer .illustration.cas6 img {
  display: block;
}
.loi_elan .explanation:nth-of-type(1) {
  background: linear-gradient(to left, rgba(34, 30, 31, 0.4) 0%, rgba(34, 30, 31, 0.8) 10%, rgba(34, 30, 31, 0.9) 20%, rgba(34, 30, 31, 0.9) 80%, rgba(34, 30, 31, 0.8) 90%, rgba(34, 30, 31, 0.4) 100%), url("../images/photoplan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.loi_elan .explanation:nth-of-type(2) {
  padding: 40px 5%;
}
.loi_elan .explanation:nth-of-type(3) {
  background: linear-gradient(to left, rgba(34, 30, 31, 0.2) 0%, rgba(34, 30, 31, 0.85) 30%, rgba(34, 30, 31, 0.98) 100%), url("../images/project.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.loi_elan .explanation:nth-of-type(3) p {
  width: 50%;
  max-width: 600px;
  padding: 2%;
}
.loi_elan .explanation:nth-of-type(3) img {
  margin-right: 15px;
}
.loi_elan > section:last-of-type {
  margin-bottom: 100px;
}

.devis {
  margin-top: 120px;
}

.form div {
  background-color: #814A24;
  border-radius: 50px;
  padding: 20px;
  width: 760px;
}

.choix {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.choix__btn1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 200px;
  padding: 10px;
}
.choix__btn2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  padding: 10px;
}

.contact {
  margin-top: 120px;
}

.carte {
  display: flex;
}
.carte__qr {
  height: 250px;
}
.carte__qr p {
  font-size: 0.8rem;
}
.carte__qr a {
  height: 150px;
}
.carte__qr a img {
  max-height: 100%;
}
.carte__text h2 {
  margin: 20px 0px 0px 0px;
}

/*# sourceMappingURL=style.css.map */
